<!DOCTYPE html>
<html>
  <head>
    <title>matching</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div id="battle">
      <div class="left-battle-area"></div>
      <div class="center-battle-area">vs</div>
      <div class="right-battle-area"></div>
    </div>
    <script src="http://underscorejs.org/underscore-min.js"></script>
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="/javascripts/main.js"></script>
  </body>
</html>
