body {
  padding: 30px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #eee;
}

a {
  color: #00B7FF;
}

#battle {
  position: relative;
  width: 100%;
  height: 200px;
  background-color: #eee;
  overflow: hidden;
}
.left-battle-area {
  position: absolute;
  float: left;
  width: 50%;
  height: 200px;
  background-color: #d2b48c;
}
.right-battle-area {
  position: absolute;
  top: 0px;
  left: 122px;
  float: left;
  width: 50%;
  height: 200px;
  background-color: #f0e68c;
}
.center-battle-area {
  position: absolute;
  z-index: 1;
  top: 100px;
  left: 109px;
  font-size: 20px;
  font-weight: bold;
}

.player-image {
  width: 50%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.matching-animation {
  animation: matching 0.5s;
  animation-iteration-count: finite;
  -webkit-animation: matching 0.5s;
  -webkit-animation-iteration-count: finite;
}

@keyframes matching {
    0% { left: 500px; }
   85% { left: 110px; }
   90% { left: 122px; }
   95% { left: 110px; }
  100% { left: 122px; }
}
@-webkit-keyframes matching {
    0% { left: 500px; }
   85% { left: 110px; }
   90% { left: 122px; }
   95% { left: 110px; }
  100% { left: 122px; }
}

#spinner {
  position: absolute;
  z-index: 2;
  top: 63px;
  left: 72px;
  float: left;
  width:100px;
  height:100px;
  display: none;
  -webkit-transform: scale(0.5);
  -webkit-animation-name: rotate;
  -webkit-animation-duration:2s;
  -webkit-animation-iteration-count:infinite;
  -webkit-animation-timing-function:linear;
}
@-webkit-keyframes rotate {
  from { -webkit-transform:scale(0.5) rotate(0deg); }
  to { -webkit-transform:scale(0.5) rotate(360deg); }
}

.bar1, .bar2, .bar3, .bar4, .bar5, .bar6, .bar7, .bar8 {
  position: absolute;
  width: 10px;
  height: 30px;
  background: #000;
  top: 35px;
  left: 45px;
}
.bar1 {
  -webkit-transform: rotate(0deg) translate(0, -40px);
  opacity: 0.12;
}
.bar2 {
  -webkit-transform: rotate(45deg) translate(0, -40px);
  opacity: 0.25;
}
.bar3 {
  -webkit-transform: rotate(90deg) translate(0, -40px);
  opacity: 0.37;
}
.bar4 {
  -webkit-transform: rotate(135deg) translate(0, -40px);
  opacity: 0.5;
}
.bar5 {
  -webkit-transform: rotate(180deg) translate(0, -40px);
  opacity: 0.62;
}
.bar6 {
  -webkit-transform: rotate(225deg) translate(0, -40px);
  opacity: 0.75;
}
.bar7 {
  -webkit-transform: rotate(270deg) translate(0, -40px);
  opacity: 0.87;
}
.bar8 {
  -webkit-transform: rotate(315deg) translate(0, -40px);
  opacity: 1;
}

button.search-target {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  color: #ffffff;
  padding: 10px 20px;
  background: -moz-linear-gradient(top, #42aaff 0%, #003366);
  background: -webkit-gradient(linear, left top, left bottom, from(#42aaff), to(#003366));
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  border: 1px solid #003366;
  -moz-box-shadow: 0px 1px 3px rgba(000,000,000,0.5), inset 0px 0px 1px rgba(255,255,255,0.5);
  -webkit-box-shadow: 0px 1px 3px rgba(000,000,000,0.5), inset 0px 0px 1px rgba(255,255,255,0.5);
  box-shadow: 0px 1px 3px rgba(000,000,000,0.5), inset 0px 0px 1px rgba(255,255,255,0.5);
  text-shadow: 0px -1px 0px rgba(000,000,000,0.7), 0px 1px 0px rgba(255,255,255,0.3);
}

#heart {
  position: absolute;
  width: 100px;
  height: 90px;
  top: 63px;
  left: 72px;
  z-index: 4;
  display: none;
}
#heart:before, #heart:after {
  position: absolute;
  content: "";
  left: 50px;
  top: 0;
  width: 50px;
  height: 80px;
  background: red;
  -moz-border-radius: 50px 50px 0 0;
  border-radius: 50px 50px 0 0;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-transform-origin: 0 100%;
  -moz-transform-origin: 0 100%;
  -ms-transform-origin: 0 100%;
  -o-transform-origin: 0 100%;
  transform-origin: 0 100%;
}

#heart:after {
  left: 0;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transform-origin: 100% 100%;
  -moz-transform-origin: 100% 100%;
  -ms-transform-origin: 100% 100%;
  -o-transform-origin: 100% 100%;
  transform-origin :100% 100%;
}
